<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvo4i3qobWhuLBUuXQ988C8k6Qc3XK6pU</string>
	<key>GCM_SENDER_ID</key>
	<string>607879466969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.feedbackapp</string>
	<key>PROJECT_ID</key>
	<string>feedbackapp-6c4e3</string>
	<key>STORAGE_BUCKET</key>
	<string>feedbackapp-6c4e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607879466969:ios:56676901a9a21e4c5513c8</string>
</dict>
</plist>